.dayContainer {
  flex-grow: 10;
  position: relative;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.addAllButton {
  text-transform: unset !important;
  width: 50%;
  color: #A1C97D;
}
.removeAllButton {
  text-transform: unset !important;
  width: 50%;

}
.timeSlotTitle {
  height: 40px;
  min-width: 80px;
  text-align: center;
  /* position: fixed; */
}

.timeSlot {
  height: 80px;
  border: 1px solid #c4c4c4;
  position: relative;
  z-index: -5;
}
.timeSlotOverlay {
  height: 40px;
  border: 1px solid #c4c4c4;

  /* background-color: aqua; */
}
