.container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.dayControlContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calendarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 100%;
  justify-content: space-around;
  padding-right: 6vw;

}

.timeSlotContainer {
  flex-grow: 1;
  margin: 0 1vw;
  transform: translateY(60px);
}

.timeSlotTitle {
  height: 40px;
  /* position: fixed; */
}

.timeSlot {
  height: 80px;
  text-align: right;
  /* align-content: center; */
}
