.barContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #5a32bf;
  border-radius: 5px;
  width: 90%;
  margin: 5px 1vw;
  margin-left: 1vw;
  text-align: center;
  font-weight: lighter;
  font-size: small;
  background-color: #7048d5;
  color: #ffffff;
  cursor: pointer;
}
