.rowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
}

.eventsContainer{ 
  display: flex;
  flex-direction: column;
  width: 15%;
  align-items: center;


}


.classContainer {
  border: 1px solid #7048d5;
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  width: 100%;
  align-items: center;
}