.eventContainer {
  display: flex;
  z-index: -1;
  flex-direction: column;
  /* align-items: flex-start; */
  white-space: normal;
  
  padding: 0 1vw;
  color: #a0c3d1;
  background: linear-gradient(
      rgba(160, 195, 209, 0.1),
      rgba(160, 195, 209, 0.1)
    ),
    linear-gradient(white, white);
  position: absolute;
  border: 1px solid #919da1;
  border-left: 8px solid #a0c3d1;
  width: 100%;
  border-radius: 5px;
  font-size: 1.2vw;
  overflow-wrap: break-word;
  z-index: 2;
  cursor: pointer;
  -webkit-appearance: none;
  overflow-y: scroll;
}

.eventButtonHover {
  display: flex;
  z-index: -1;
  flex-direction: column;
  align-items: flex-start;
  white-space: normal;
 
  padding: 0 1vw;
  color: #ffffff;
  background: #a0c3d1;
  position: absolute;
  border: 1px solid #919da1;
  width: 100%;
  border-radius: 5px;

  z-index: 2;
  cursor: pointer;
  -webkit-appearance: none;
  overflow-y: scroll;
}


@media only screen and (max-width: 813.99px){
  .eventContainer {
    font-size: 16px;
  }
  
  
  
}
@media only screen and (min-width: 1150px){
  .eventContainer {
    font-size: 16px;
  }
  
  
  
}
