@font-face {
  font-family: "Eina03";
  src: local("Eina03-SemiBold"),
    url("../../../fonts/Eina03-SemiBold.ttf") format("truetype");
}

.headerContainer {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  background-color: rgba(	90, 50, 191, 0.9);
  padding-left: 5vw;
  padding-right: 5vw;

  width: 100%;
  height: 80px;
  z-index: 1000000;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 10px;
    margin-right: 10px; */
  /* width: 100%; */
  height: 100%;
}

.splitContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.logoContainer {
  /* margin-right: 20px;     */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.verticalBar {
  border-left: #ffffff 1px solid;
  height: 40px;
  text-decoration: none;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 2vw;
}

.navbarContainerGuest {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navOption {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  color: #efebf9;
  font-weight: bold;
  line-height: 15px;
}

.navOption:hover {
  color: #ffffff;
  padding-bottom: 5.6%;
  padding-top: 4.7%;

  height: 100%;
  border-top: #ffffff 5px solid;
}

.activeNavOption {
  padding-left: 10px;
  padding-right: 10px;

  padding-bottom: 5.6%;
  padding-top: 4.7%;

  color: #ffffff;
  align-items: center;

  height: 100%;
  border-top: #ffffff 5px solid;

  white-space: nowrap;
}

.activeNavOption:hover {
  color: #ffffff;
  padding-bottom: 5.6%;
  padding-top: 4.7%;

  border-top: #ffffff 5px solid;
}

.button {
  color: #ffffff;

  border: none;

  box-sizing: border-box;

  font-weight: normal;
  line-height: 15px;

  margin-top: 10px;
}

.shrinkNavbar {
  font-size: 50px;
  color: #5a32bf;
  margin-right: 2vw;
}

.shrinkNavbar:hover {
  color: #fc4e4e;
  cursor: pointer;
  background-color: ;
}

.expandableContainer {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #efebf9;
  /* border-bottom: 5px solid #fc4e4e; */
  border-bottom-left-radius: 10px;
  /* box-sizing: content-box; */
  overflow-y: visible;
  transform: translate(-95%, 81px);
  color: #ffffff;
}

.shrinkNavOption {
  color: #808080;
  font-size: 25px;
  font-weight: lighter;

  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  text-align: center;
}

.shrinkNavOption:hover {
  color: #ffffff;
  background-color: #fc4e4e;
}

.activeShrinkNavOption {
  /* width: 100%; */
  color: #ffffff;
  font-weight: normal;
  /* margin-top: 5px;
    margin-bottom: 5px; */
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #7048d5;
  /* border-left: 10px #fc4e4e solid;
  border-right: 10px #fc4e4e solid; */

  width: 100%;
  text-align: center;
}

.activeShrinkNavOption:hover {
  /* width: 100%; */
  color: #ffffff;
  font-weight: normal;
  background-color: #7048d5;
}
