.courseInfoContainer {
  width: 35%;
  height: 200px;
  margin: 10px 0;
  padding: 20px 1vw;
  border-radius: 12px;
  background: #F6F9FA;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.infoTitle {
  color: #fc4e4e;
}

@media (max-width: 810px){
  .courseInfoContainer{
    width: 75%;
  }
}