#optionMainContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#coursesSelectedContainer {
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#promptMainContainer {
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#weeklySchedule {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.courseSelected {
    position: relative;
    height: 50px;
    width: 150px;
    background-color: #d7a3e4;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    z-index: 5;
}

.optionMain {
    height: 50px;
    width: 150px;
    font-size: 20px;
    margin: 5px;
}

.optionMain.selected {
    background-color: #d7a3e4;
}

#prompt {
    position: relative;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

#addCourse {
    position: relative;
    margin-top: 10px;
    height: 50px;
    font-size: 20px;
}