.bodyContainer {
    background: linear-gradient(-45deg, #f1edfa, #f1edfa, #ccbeee, #f1edfa );
    /* background-size: 400% 400%; */
    animation: gradient 15s ease infinite;
}

.formContainer {

    display: flex;

}

.horizontalContainer {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 20vh;
}

.image{
    width: 40%;
}

.imgContainer {
    width: 30%;
}

Accordion {
    font-size: 100px;
}

.contactForm {

    display: flex; 
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.contactForm input {
    margin: 1em;
}

.contactForm textarea {
    margin: 1em;
    border-radius: 5px;
    border-color: #5a32bf;
    width: 80%;
}

.contactForm input[name="submit"]{
    color:#ffffff;
    background-color: #5a32bf;
}
