.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(-45deg, #f1edfa, #f1edfa, #ccbeee, #f1edfa );
  /* background-size: 400% 400%; */
  animation: gradient 15s ease infinite;
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;

  height: 100vh;
  width: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 20vh;
  /* 
  background-image: url("../res/pexels-moose-photos-1037995.jpg");
  background-size: cover; */
  /* background-repeat: no-repeat; */
}

.loginImage {
  width: 30vw;
  /* max-height: 50vh;
  flex: 0 0 46.666667%; */

  /* float: right; */
}

.schedulerImage {
  height: 50vh;
  float: left;
}

.loginGraphicContainer {
  flex-grow: 1;
  /* padding-right: 2vw; */
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: auto;
  /* max-width: 54vw; */
  border: none;
  border-radius: 12px;
  padding: 15px 1vw;
  background-color: #ffffff;
}

.bodyContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  color: #000000;
  font-size: 70px;
  font: 
}
h2 {
  color: #000000;
  font-size: 50px;
}

.content {
  color: #000000;
  font-size: 18px;
  max-width: 50ch;
  padding-left: 1vw;
  /* padding-right: 1vw; */
  /* flex: 0 0 36.666667%;
    max-width: 36.666667% */
  /* text-align: center; */
}

.button {
  background-color: #fc4e4e;
  color: #ffffff;
  text-transform: unset !important;
  border: 1px #5a32bf;
  border-radius: 50px;
  box-shadow: 5px 5px #000000;
  min-height: 50px;

  text-align: center;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  margin-top: 10px;
}

.button:hover {
  color: #ffffff;
  box-shadow: 5px 5px #5a32bf; 
  background-color: #fc4e4e;
  border: #fc4e4e solid 1px;
  text-decoration: none;
}

/* body {
  background: linear-gradient(-45deg, #ccbeee, #d9cef2, #fed7d7, #fec2c2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
} */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 813px) {
  .horizontalContainer {
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    padding-top: 10vh;
  }
}

Accordion {
  background-color: #5a32bf;
}