#course_box {
    background-color: #0EB1D2;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 20px;
}

#course_name {
    background-color: #0EB1D2;
    color: rgb(255, 255, 255);
    position: relative;
    /*
    width: 120px;
    height: 25px;
    */
    top: 20px;
    border-radius: 2px 2px 2px 2px;
    font-size:15px;
}