.container{
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.button {
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #f3f3f3;
    color: rgb(0, 0, 0);

    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 33px;

    border-radius: 8px;
    border: solid;
    box-shadow: 0 3px 5px rgba(0,0,0,0.18);

    font-size: 20px;
    
}