
.container{
    display: flex;
    flex-flow: row wrap;
    /*flex-direction: row;*/
    justify-content: center;
}

.containerInput {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    flex-grow: 7;
    height: 80vh;
    /* 
    for page centering CourseNameInput 
    (will go off "center" with more columns or vertical wrapping due to smaller screen size)
    */
    left: -5vw; 
}

.courseInput {
    position: relative;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

.courseSubmit {
    position: relative;
    margin-top: 10px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}