#week {
    position: relative;
    height: 1800px; /* 2px is one minute, each hour is therefore 120px*/
    width: 840px; /* 120px is each day */
    width: 960px; /* 7 days plus time legend*/
    display:table;  /*table test*/
}

.time_period {
    position: relative;
    background-color: #EAE6E5;
    height: 120px;
    width: 120px;
    border-bottom-style: groove;
    border-width: 0.1px;
    z-index: 2;
    margin: 0;
}

.day {
    position: relative;
    float: left;
    width: 120px;
    z-index: 1;
    display:table-cell;  
}

.classtemplate {
    position: absolute;
    z-index: 3;
    width: 119px;
    background-color: #0EB1D2;
}

#exampleclass {
    background-color: #0EB1D2;
    position: relative;
    height: 120px; /* duration of course section */
    width: 120px;
    top: 10px; /* starting time from the nearest hour */
}
